appdirs==1.4.4
appnope==0.1.0
backcall==0.1.0
blinker==1.4
certifi==2022.9.24
cffi==1.14.2
charset-normalizer==2.1.1
Click==7.0
contourpy==1.0.5
cycler==0.11.0
decorator==4.3.0
Faker==0.9.1
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
fonttools==4.37.4
future==0.18.2
gunicorn==20.1.0
idna==3.4
ipython==7.0.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.10
jsonify==0.5
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==1.1.1
matplotlib==3.6.1
multitasking==0.0.11
numpy==1.23.4
packaging==21.3
pandas==1.5.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.10.0
prompt-toolkit==2.0.5
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
ratelim==0.1.6
requests==2.28.1
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.12
tenacity==8.1.0
text-unidecode==1.2
traitlets==4.3.2
urllib3==1.26.12
wcwidth==0.1.7
Werkzeug==0.14.1
WTForms==2.2.1
yfinance==0.1.77
