<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  <title>Stocks</title>
</head>
<body>
    
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mr-0 mr-md-2" href="#">Bollinger Bands Simulator</a>
        
</nav>
    
<nav class="navbar navbar-secondary bg-secondary" id="navbarTogglerDemo02">
    <ul class="nav nav-tabs nav-muted">
        <li class="nav-item">
            <a class="nav-link text-white" href="/info">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Calculator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/history">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/tickers">Stocks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/results">Results</a>
        </li>

    </ul>
</nav>

<h1 style="margin-left: 25%; margin-top: 80px;">All simulated stocks:</h1>

<table class="table text-center" style = "width: 60%; margin-left: 120px;">
    <thead>
      <tr>
        <th scope="col">Stock indicator</th>
        <th scope="col">Overall Performance</th>
        <th scope="col">Buy/Hold Performance</th>
        <th scope="col">Total operations</th>
        
      </tr>
    </thead>
    <tbody>
        {% for ticker in tickers %}
        {% if ticker.stock_performance < 0 %}
            <tr class = "table-danger">
        {% else %}
            <tr class="table-success">
        {% endif %}
        <th scope="row">
            <a href="/tickers/{{ticker.symbol}}">{{ticker.symbol}}</a>
        </th>
        <td>{{ticker.stock_performance}}</td>
        <td>{{ticker.buy_hold_performance}}</td>
        <td>{{ticker.weight}}</td>
      </tr>
     
      {% endfor %}
      
    </tbody>
    
  </table>
<div style="margin-left: 30%;">
    <form action="/" >
        <button type ="submit" class="btn btn-success">Create new Strategy</button>
    </form>
</div>

</body>
</html>